{{> header}}
<div class="InicioPagina container">
    <h2 class="comp">Competencia de Skate</h2>
    <h5 class="muni">Municipalidad de Santiago</h5>
    <br>
    <h3>¡Impulsa tu nivel deportivo y representa a Chile en los próximos X Games!</h3>
    <br><br><br>
    <div>
    <a href="/registra" class="boton  btn">Ir a registrarse</a>
    <a href="/login" class="btn btn-light">Inicia sesion</a>
    </div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br>
{{> footer}}