<link rel="stylesheet" href="./css/styleFooter.css">
<div class="Footer">
    <div class="Social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-whatsapp"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a> 
    </div>


    <ul class="List">
        <li><a href="">Inicio</a></li>
        <li><a href="">Preguntas frecuentes</a></li>
        <li><a href="">¿Necesitas ayuda?</a></li>
        <li><a href="">Acerca de nosotros</a></li>

    </ul>


<div class="FooterBottom">
    <p>Copyright &copy;2023 Designed by <span class="designer">3Team</span></p>
</div>